.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.5rem;
}

.footer__track {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  width: 26rem;
}

.picture {
  margin-right: 0.6rem;
}

.picture__img {
  border-radius: 5px;
}

.title {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  padding-inline: 6px 12px;
  margin-bottom: 1px;
}

.artist {
  font-size: 0.72rem;
  font-weight: 400;
  color: #b3b3b3;
  padding-inline: 6px 12px;
}

.hidden__text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer__player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  width: 34rem;
}

.button__player {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: #000;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #fff;
}

.svg__cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.6rem;
  border-radius: 5px;
  color: #b3b3b3;
  background-color: #282828;
}

.button__player__DISABLE {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: #000;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: hsla(0,0%,100%,.3);
  cursor: not-allowed;
}

.footer__volume {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0.5rem;
  width: 24rem;
}