.header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  width: 69.87%;
  height: 4rem;
  top: 8px;
  position: fixed;
  background-color: transparent;
  z-index: 3;
  -webkit-transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
  transition:
    background-color 0.25s,
    opacity 0.4s ease-out;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5625rem;
}

.nav__buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttons__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0.6;
  cursor: not-allowed;
}

.buttons__active {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0.6;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link__item--premium {
  background-color: #f6f6f6;
  color: #000;
  display: flex;
  border-radius: 9999px;
  min-block-size: 2rem;
  align-items: center;
  justify-content: center;
  padding-block-start: var(--encore-spacing-tighter-4, 4px);
  padding-block-end: var(--encore-spacing-tighter-4, 4px);
  padding-inline-start: var(--encore-spacing-base, 16px);
  padding-inline-end: var(--encore-spacing-base, 16px);
  font-size: 0.875em;
  font-weight: 700;
  user-select: none;
  -webkit-user-select: none;
}

.link__item--download {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 700;
  font-size: 0.875em;
  background-color: rgba(0, 0, 0, 0.54);
  color: #fff;
  border-radius: 9999px;
  min-block-size: var(--encore-control-size-smaller, 32px);
  padding-block-start: var(--encore-spacing-tighter-4, 4px);
  padding-block-end: var(--encore-spacing-tighter-4, 4px);
  padding-inline-start: 13px;
  padding-inline-end: var(--encore-spacing-base, 16px);
  user-select: none;
  -webkit-user-select: none;
}

.link__item--premium:hover {
  transform: scale(1.04);
}

.link__item--download:hover {
  transform: scale(1.04);
}

.user__img {
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
}

.content__user {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown .menu {
  display: none;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
    box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
  position: absolute;
  min-height: 2.375rem;
  right: 0;
  top: 40px;
  padding: .25rem;
}

.dropdown .menuActive {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  background-color: #282828;
  -webkit-box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
    box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
  position: absolute;
  min-height: 2.375rem;
  width: 7.25rem;
  right: 0;
  top: 2.5rem;
  padding: .25rem;
}

.dropdown .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.dropdown .menu ul button {
  border: none;
  display: block;
  padding: .75rem;
  text-align: left;
  width: 100%;

  background: transparent;
  border: 0;
  border-radius: 2px;
  color: hsla(0,0%,100%,.9);
  cursor: default;
  text-decoration: none;
}

.dropdown .menuActive ul button {
  border: none;
  display: block;
  padding: .625rem;
  text-align: left;
  width: 100%;

  background: transparent;
  border: 0;
  border-radius: 2px;
  color: hsla(0,0%,100%,.9);
  cursor: default;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown .menuActive ul button:hover {
  background-color: hsla(0,0%,100%,.1);
  color: #fff;
  text-decoration: none;
}

.dropdown .menuActive ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.menu__item--logout {
  font-size: 0.875rem;
  font-weight: 400;
}