---
import Layout from "../layouts/Layout.astro";
---
<Layout title="everybody.gives">
	<div class="min-h-full flex items-center flex-col justify-center p-[100px]">
		<div class="mt-5 sm:mt-8 flex self-start">
			<a href="/new-group">
				Hello Dev 👋
			</a>
		</div>
	</div>
</Layout>