---
interface Props {
  href?: string;
  gapCustom?: boolean;
}

const { href, gapCustom } = Astro.props;
---

<li>
  <a style={gapCustom ? "gap: .8rem" : ""} href={href}>
    <slot />
  </a>
</li>

<style>
  a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #b3b3b3;
    font-weight: 700;
    transition: color 0.4s ease;
    user-select: none;
    -webkit-user-select: none;
  }

  a:hover {
    color: #fff;
  }
</style>
