---
import AsideMenu from "../components/AsideMenu.astro";
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";
---

<Layout title="Spotify Clone">
  <main class="main">
    <aside class="aside">
      <AsideMenu />
    </aside>
    <section class="section" id="home">
      <Header />
      <slot />
    </section>
    <footer class="footer">Footer</footer>
  </main>
</Layout>

<script>
  const playlistsDiv = document.getElementById("home");
  const bibliotecaSection = document.getElementById("header");
  function handleScroll() {
    if (playlistsDiv.scrollTop >= 240) {
      bibliotecaSection.classList.add("bg__header--home");
      console.log(playlistsDiv.scrollTop);
    } else {
      bibliotecaSection.classList.remove("bg__header--home");
    }
  }


  // Agregar el eventListener al evento de desplazamiento
  playlistsDiv.addEventListener("scroll", handleScroll);
</script>

<style is:global>
  .bg__header--home {
    background: rgb(54, 9, 17) !important;
  }
</style>

<style>
  .main {
    height: 100vh;
    position: relative;
    gap: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-areas:
      "aside main main"
      "player player player";
    grid-template-columns: 26.2rem 1fr;
    grid-template-rows: 1fr auto;
  }

  .aside {
    height: 100%;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 0.5rem;
  }

  .section {
    grid-area: main;
    width: 100%;
    overflow-y: auto;
    border-radius: 0.5rem;
    background-color: #121212;
  }

  .footer {
    min-height: 5rem;
    grid-area: player;
    border-radius: 0.5rem;
  }

  .section::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.3);
  }

  .section::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.4);
  }

  .section::-webkit-scrollbar-thumb:active {
    background: hsla(0, 0%, 100%, 0.6);
  }

  .section::-webkit-scrollbar {
    width: 0.8rem;
    height: 2rem;
  }
</>
